/**
 *
 * Apply your custom CSS here
 *
*/

.b{border:1px red solid;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.img{width:128px;height:128px;}
/*login.html*/
.login-page{padding-top:50px;}
.login-page.login-bg{background:url(/mysite/public/static/assets/images/login-bg.jpg) center no-repeat; background-size:cover;}
.sidebar-menu{width:280px;}

.upload_img_wrap{display: inline-block;}
.upload_img_wrap li{list-style-type: none;margin: 5px;padding: 0;float:left;}

#online{width:auto !important;height:auto  !important;padding:0px !important; font-weight:bold}

.w130{width:130px;}
.w250{width:250px;}
.ml10{margin-left:10px;}
.mt10{margin-top:10px;}
.tag{cursor:pointer;}
.out{display:none;}

