	<!-- Bottom Scripts -->
	<script src="{{ url_for('static',  filename ='public/static/assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/resizeable.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/joinable.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/xenon-api.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/xenon-toggles.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'public/static/layer/layer.js') }}"></script>
    <!-- Imported scripts on this page -->
	<script src="{{ url_for('static',  filename ='public/static/assets/js/xenon-widgets.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/devexpress-web-14.1/js/globalize.min.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/devexpress-web-14.1/js/dx.chartjs.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/toastr/toastr.min.js') }}"></script>
	
	<script src="{{ url_for('static',  filename ='public/static/assets/js/datatables/dataTables.bootstrap.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/datatables/tabletools/dataTables.tableTools.min.js') }}"></script>
	<script src="{{ url_for('static',  filename ='public/static/assets/js/jquery-validate/jquery.validate.min.js') }}"></script>
    <!--日期时间-->
    <script src="{{ url_for('static',  filename ='public/static/assets/js/datepicker/bootstrap-datepicker.js') }}"></script> 
	<script src="{{ url_for('static',  filename ='public/static/assets/js/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
    <!--下拉菜单-->
	<script src="{{ url_for('static',  filename ='public/static/assets/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static',  filename ='public/static/assets/js/selectboxit/jquery.selectBoxIt.min.js') }}"></script>
    <!--tagsinput-->
    <script src="{{ url_for('static',  filename ='public/static/assets/js/tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <!--knob-->
	<script src="{{ url_for('static',  filename ='public/static/assets/js/knob/jquery.knob.min.js') }}"></script>
    
	<!-- JavaScripts initializations and stuff -->
	<script src="{{ url_for('static',  filename ='public/static/assets/js/xenon-custom.js') }}"></script>
    <script src="{{ url_for('static',  filename ='public/static/assets/js/ihc-admin.js') }}"></script>
    <script src="{{ url_for('static',  filename ='public/static/assets/js/jquery.cookie.js') }}"></script>

	